body{
	background-color: white;
}
.square{
	background-color: black;
	height: 440px;
	width: 140px;
	margin: 0 auto;
}
.one{
	padding: 20px;
}
.two{
	padding:20px; 
}
.three{
	padding: 20px;
}
.square_2{
	margin: 0 auto;
	width: 45px;
	height: 200px;
	background-color: black;
}